@model TShop.Models.Color

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h1>Bạn có muốn xóa màu này</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Levels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Levels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorHex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorHex)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ColorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh mục</a>
    </form>
</div>
