@model TShop.ViewModels.OrderDetailVM
@{
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    string statusLabel = "";
    switch (Model.Order.TransactStatus.Status)
    {
        case "pending":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-warning'>Chờ xác nhận<span class='ms-1 fas fa-check' data-fa-transform='shrink-2'></span></div>";
            break;
        case "confirmed":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-info'>Đã xác nhận<span class='ms-1 fas fa-check' data-fa-transform='shrink-2'></span></div>";
            break;
        case "processing":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-primary'>Đang xử lý<span class='ms-1 fas fa-spinner' data-fa-transform='shrink-2'></span></div>";
            break;
        case "shipped":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-success'>Đã gửi hàng<span class='ms-1 fas fa-shipping-fast' data-fa-transform='shrink-2'></span></div>";
            break;
        case "completed":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-success'>Hoàn thành<span class='ms-1 fas fa-check-circle' data-fa-transform='shrink-2'></span></div>";
            break;
        case "cancelled":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-danger'>Đã hủy<span class='ms-1 fas fa-times' data-fa-transform='shrink-2'></span></div>";
            break;
        case "refunded":
            statusLabel = "<div class='py-2 px-3 badge rounded-pill  badge-soft-warning'>Đã trả hàng<span class='ms-1 fas fa-undo' data-fa-transform='shrink-2'></span></div>";
            break;
        default:
            statusLabel = "<div class='py-2 px-3 badge rounded-pill badge-soft-secondary'>Không rõ<span class='ms-1 fas fa-question' data-fa-transform='shrink-2'></span></div>";
            break;
    }
}
<a class="btn btn-outline-secondary mb-3" asp-controller="Orders" asp-action="Index">Quay lại</a>
<div class="card mb-3">
    <div class="card-body position-relative">
        <div class="d-flex justify-content-between">
             <h5>Hóa đơn: #@Model.Order.OrderId</h5>
            <a class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" asp-controller="Orders" asp-action="Invoice" asp-route-orderid="@Model.Order.OrderId"><span class="fas fa-print me-1"> </span>Xuất hóa đơn</a>
        </div>
        <p class="fs--1">@Model.Order.OrderDate</p>

        <div>
            <strong class="me-2">Trạng thái: </strong>
            @Html.Raw(statusLabel)
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="mb-3 fs-0">Khách hàng</h5>
                <h6 class="mb-2">@Model.Order.Account.FullName</h6>
                <p class="mb-0 fs--1"> <strong>Email: </strong><a href="">@Model.Order.Account.Email</a></p>
                <p class="mb-0 fs--1"> <strong>Số điện thoại: </strong><a href="#">@Model.Order.Account.Phone</a></p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <h5 class="mb-3 fs-0">Địa chỉ giao hàng</h5>
                <h6 class="mb-2">@Model.FullName</h6>
                <p class="mb-0 fs--1"> <strong>Số điện thoại: </strong><a href="#">@Model.PhoneNumber</a></p>
                <p class="mb-0 fs--1">@Model.Order.Address<br />@Model.Order.Ward, @Model.Order.District, @Model.Order.City</p>
                <div class="text-500 fs--1">(Free Shipping)</div>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5 class="mb-3 fs-0">Phương thức thanh toán</h5>
                <div class="d-flex">
                    <img class="me-3" src="../../../assets/img/icons/visa.png" width="40" height="30" alt="" />
                    <div class="flex-1">
                        <h6 class="mb-0">@Model.Order.Payment.PaymentType</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div class="fs--1 mb-3">
            <span>Ghi chú: </span>
            <span>@Model.Order.Note</span>
        </div>
        <div class="table-responsive fs--1">
            <table class="table table-striped border-bottom">
                <thead class="bg-200 text-900">
                    <tr>
                        <th class="border-0">Sản phẩm</th>
                        <th class="border-0 text-center">Số lượng</th>
                        <th class="border-0 text-end">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr class="border-bottom p-2">
                            <td class="px-0">
                                <div class="d-flex cart-item m-0">
                                    <div class="me-2" style="min-width:40px;">
                                        <img src="@item.Thumb" width="40px" />
                                    </div>
                                    <div class="">
                                        <div class="cart-item-detail">
                                            <span class="cart-item-name text-nowrap">
                                                @item.Product.ProductName
                                            </span>
                                            <div class="d-flex flex-nowrap">
                                                <div style="background-color:@item.Color.ColorHex;" class="cart-item-color">
                                                </div>
                                                <span class="pe-1 border-end fw-medium">@item.Color.ColorName</span>
                                                <span class="ms-1 me-3 fw-medium">@item.Size</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center text-nowrap">
                                <span class="fw-bold">@item.Amount</span>
                            </td>
                            <td class="pe-3 text-end">
                                <div class="row" >
                                    @if (item.Product.Discount > 0)
                                    {
                                        <span class="fw-bold text-nowrap">@item.Product.Discount.Value.ToString("#,0 ₫", culture.NumberFormat)</span>
                                        <span class="text-decoration-line-through text-nowrap">@item.Product.Price.ToString("#,0 ₫", culture.NumberFormat)</span>
                                    }
                                    else
                                    {
                                        <span class="fw-bold text-nowrap">@item.Product.Price.ToString("#,0 ₫", culture.NumberFormat)</span>
                                    }
                                </div>
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row g-0 justify-content-end">
            <div class="col-auto">
                <table class="table table-sm table-borderless fs--1 text-end">
                    <tr>
                        <th class="text-900">Giá trị đơn hàng:</th>
                        <td class="fw-semi-bold">@Model.Order.TotalMoney.Value.ToString("#,0 ₫", culture.NumberFormat)</td>
                    </tr>
                    <tr>
                        <th class="text-900">Chiết khấu:</th>
                        <td class="fw-semi-bold text-danger">@Model.Order.TotalDiscount.Value.ToString("#,0 ₫", culture.NumberFormat)</td>
                    </tr>
                    <tr class="border-top">
                        <th class="fw-bold">Tổng tiền thanh toán:</th>
                        <td class="fw-bold">@((Model.Order.TotalMoney - Model.Order.TotalDiscount).Value.ToString("#,0 ₫", culture.NumberFormat))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>