@model TShop.ViewModels.CheckoutVM
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var citys = ViewBag.Citys;
    var customer = ViewBag.Customer;
    var carts = ViewBag.Cart;
    int totalPriceBase = ViewBag.TotalPriceBase;
    int totalDiscount = ViewBag.TotalDiscount;
    int totalPriceMain = ViewBag.TotalPriceMain;
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<form asp-controller="Checkout" asp-action="Index" method="post">
    <div class="block-page py-5">
        <div class="row g-3 mb-5">
            <div class="col-xl-7">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <h5 class="mb-2 mb-sm-0">Thông tin giao hàng</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label class="form-label mb-0 fw-bold">Họ tên</label>
                                <input class="form-control" asp-for="FullName" type="text" placeholder=""/>
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label mb-0 fw-bold">Số điện thoại</label>
                                <input class="form-control" asp-for="PhoneNumber" type="text" placeholder=""/>
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label mb-0 fw-bold">Tỉnh / Thành phố</label>
                                <select id="select-city" asp-items="ViewBag.Citys" asp-for="LocationIdCity" class="form-select form-select-sm">
                                    <option>Chọn Tỉnh / Thành</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.LocationIdCity,"", new{ @class ="text-danger"})
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label mb-0 fw-bold">Quận / Huyện</label>
                                <select id="select-district" asp-for="LocationIdDistrict" class="form-select form-select-sm"></select>
                                @Html.ValidationMessageFor(model => model.LocationIdDistrict, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label mb-0 fw-bold">Phường / Xã</label>
                                <select id="select-ward" asp-for="LocationIdWard" class="form-select form-select-sm"></select>
                                @Html.ValidationMessageFor(model => model.LocationIdWard, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label mb-0 fw-bold">Địa chỉ</label>
                                <input class="form-control" asp-for="Address" type="text" placeholder="" />
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="form-label mb-0 fw-bold">Ghi chú</label>
                                <textarea class="form-control" asp-for="Note" type="text"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-light">
                        <h5 class="mb-0">Phương thức thanh toán</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var payment in Model.Payments)
                        {
                            <div class="d-flex align-items-center mb-3">
                                @Html.RadioButtonFor(model => model.PaymentId, payment.PaymentId, new { @class = "btn-check me-2", @id = $"{payment.PaymentId}" })
                                <label class="form-control d-flex align-items-center py-4 ps-4" for="@payment.PaymentId">
                                    <img src="https://canifa.com/assets/images/vnpay.svg" alt="" />
                                    <span class="ms-2">@payment.PaymentType</span>
                                </label>
                            </div>
                        }
                        @Html.ValidationMessageFor(model => model.PaymentId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xl-5 order-xl-1">
                <div class="card">
                    <div class="card-header bg-light btn-reveal-trigger d-flex flex-between-center">
                        <h5 class="mb-0">Chi tiết đơn hàng</h5>
                    </div>
                    <div class="card-body pb-1 table-responsive pt-2">
                        <table class="table fs--1 mb-0">
                            @foreach (var item in carts)
                            {
                                <tr class="border-bottom p-2">
                                    <th colspan="2" class="px-0">
                                        <div class="d-flex cart-item m-0">
                                            <div class="me-2" style="min-width:40px;">
                                                <img src="@item.Thumb" width="40px" />
                                            </div>
                                            <div class="">
                                                <div class="cart-item-detail">
                                                    <span class="cart-item-name text-nowrap">
                                                        @item.Product.ProductName
                                                    </span>
                                                    <div class="d-flex flex-nowrap" style="font-size:14px;">
                                                        <div style="background-color:@item.Color.ColorHex;" class="cart-item-color">
                                                        </div>
                                                        <span class="pe-1 border-end">@item.Color.ColorName</span>
                                                        <span class="ms-1 me-3">@item.Size</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="pe-0 text-end">
                                        <div class="row" style="font-size:14px;">
                                            @if (item.Product.Discount > 0)
                                            {
                                                <span class="fw-bold text-nowrap">@item.Product.Discount.ToString("#,0 ₫", culture.NumberFormat)</span>
                                                <span class="text-decoration-line-through text-nowrap">@item.Product.Price.ToString("#,0 ₫", culture.NumberFormat)</span>
                                            }
                                            else
                                            {
                                                <span class="fw-bold text-nowrap">@item.Product.Price.ToString("#,0 ₫", culture.NumberFormat)</span>
                                            }
                                        </div>
                                    </td>
                                    <td class="text-end text-nowrap">
                                        <span>x</span>
                                        <span class="fw-bold">@item.Amount</span>
                                    </td>
                                </tr>
                            }
                            <tr class="border-bottom">
                                <td colspan="3" class="ps-0">Giá trị đơn hàng</td>
                                <td class="text-end text-nowrap">@totalPriceBase.ToString("#,0 ₫", culture.NumberFormat)</td>
                            </tr>
                            <tr class="border-bottom">
                                <td colspan="3" class="ps-0">Chiết khấu</td>
                                <td class="text-end text-danger text-nowrap">-@totalDiscount.ToString("#,0 ₫", culture.NumberFormat)</td>
                            </tr>
                            <tr class="border-bottom border-0">
                                <td colspan="3" class="ps-0">Vận chuyển</td>
                                <th class="text-end text-nowrap">...</th>
                            </tr>
                            <tr style="font-size:18px;" class="border-white pb-0">
                                <th colspan="3" class="ps-0">Tổng tiền thanh toán</th>
                                <th class="text-end text-nowrap">@totalPriceMain.ToString("#,0 ₫", culture.NumberFormat)</th>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="d-flex justify-content-center">
                            <button class="btn__add text-center px-5 mb-3" type="submit">Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

    
                            @section Scripts {
    <script>
        $(document).ready(function () {
            $('#select-city').change(function () {
                var cityId = $(this).val();
                console.log(cityId);
                if (cityId) {
                    $.ajax({
                        url: '/api/location/district/' + cityId,
                        type: 'GET',
                        success: function (data) {
                            var options = '<option>Chọn Quận / Huyện</option>';
                            $.each(data, function (index, item) {
                                options += '<option value="' + item.locationId + '">' + item.nameWithType + '</option>';
                            });
                            $('#select-district').html(options);
                        }
                    });
                } else {
                    $('#select-district').empty();
                }
            });
            $('#select-district').change(function () {
                var districtId = $(this).val();
                console.log(districtId);
                if (districtId) {
                    $.ajax({
                        url: '/api/location/ward/' + districtId,
                        type: 'GET',
                        success: function (data) {
                            var options = '<option>Chọn Phường / Xã</option>';
                            $.each(data, function (index, item) {
                                options += '<option value="' + item.locationId + '">' + item.nameWithType + '</option>';
                            });
                            $('#select-ward').html(options);
                        }
                    });
                } else {
                    $('#select-ward').empty();
                }
            });


       

        });
    </script>
                                @{
                                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                                }

                            }
