@model List<TShop.ViewModels.BlogVM>
@{
    ViewData["Title"] = "Tin tức";
}

<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        @foreach(var item in Model)
        {
            <h4 class="mb-2">@item.CategoryName</h4>
            <div class="row">
                @if (item.Blogs.Count() > 0)
                {
                    @foreach (var blog in item.Blogs)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic set-bg" data-setbg="@blog.Thumb"></div>
                                <div class="blog__item__text">
                                    <span><img src="img/icon/calendar.png" alt=""> @blog.DateCreated.ToString("dd/MM/yyyy HH:mm")</span>
                                    <h5>@blog.Title</h5>
                                    <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.BlogId">Đọc thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>Không có bài viết nào</div>
                }

            </div>
        }
    </div>
</section>
<!-- Blog Section End -->