@model List<TShop.Models.Account>


<div class="card mb-3" id="customersTable" data-list='{"valueNames":["name","email","phone","address","create","lastlogin","active"],"page":10,"pagination":true}'>
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Tài khoản</h5>
            </div>
            <div class="col-8 col-sm-auto text-end ps-2">
                <div class="d-none" id="table-customers-actions">
                    <div class="d-flex">
                        <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                    </div>
                </div>

                <div id="table-customers-replace-element">

                    <a class="btn btn-falcon-default btn-sm" asp-action="create"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Thêm tài khoản</span></a>

                </div>
            </div>

        </div>
        <div class="row g-0">
            <div class="col-2">
                <input id="searchQuery" class="form-control form-control-sm mt-2" type="text" placeholder="Tìm kiếm..." />
            </div>

        </div>

    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                <thead class="bg-200 text-900">
                    <tr>
                        <th>
                            <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}' />
                            </div>
                        </th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Tên</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Email</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="phone">Số điện thoại</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="address">Địa chỉ</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="role">Quyền</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="active">Trạng thái</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="create">Ngày tạo</th>
                        <th class="sort pe-1 align-middle white-space-nowrap" data-sort="lastlogin">Lần đăng nhập cuối</th>

                        <th class="align-middle no-sort"></th>
                    </tr>
                </thead>
                <tbody class="list" id="accountTableBody">
                    @foreach(var item in Model)
                    {
                        <tr class="btn-reveal-trigger">
                            <td class="align-middle py-2" style="width: 28px;">
                                <div class="form-check fs-0 mb-0 d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" id="customer-0" data-bulk-select-row="data-bulk-select-row" />
                                </div>
                            </td>
                            <td class="name align-middle white-space-nowrap py-2">
                                <a asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.AccountId">
                                    <div class="d-flex d-flex align-items-center">

                                        <div class="flex-1">
                                            <h5 class="mb-0 fs--1">@item.FullName</h5>
                                        </div>
                                    </div>
                                </a>
                            </td>
                            <td class="email align-middle py-2"><a href="#">@item.Email</a></td>
                            <td class="phone align-middle white-space-nowrap py-2"><a href="#">@item.Phone</a></td>
                            <td class="address align-middle white-space-nowrap py-2">@item.Location?.Name</td>
                             <td class="role align-middle white-space-nowrap py-2">@item.Role?.RoleName</td>
                            <td class="active align-middle white-space-nowrap py-2">@((item.Active) ? "Hoạt động" : "Khóa" )</td>

                            <td class="create align-middle py-2">@item.CreateAt.Value.ToString("dd/MM/yyyy")</td>
                            <td class="lastlogin align-middle py-2">@item.LastLogin.Value.ToString("dd/MM/yyyy HH:mm")</td>

                            <td class="align-middle white-space-nowrap py-2 text-end">
                                <div class="dropdown font-sans-serif position-static">
                                    <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="customer-dropdown-0" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--1"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="customer-dropdown-0">
                                        <div class="bg-white py-2 "><a class="dropdown-item" asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.AccountId">Chỉnh sửa</a><a class="dropdown-item text-danger modal-delete" data-accountid="@item.AccountId">Xóa</a></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-center">
        <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="pagination mb-0"></ul>
        <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
    </div>
</div>
<div class="modal" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="..." aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0" id="modal-body-content">
                Xóa nhận xóa tài khoản này?
            </div>
            <div class="modal-footer  border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirm">Lưu</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var query = $(this).val();

                $.ajax({
                    url: '/admin/accounts/search',
                    type: 'POST',
                    data: { query: query },
                    success: function (result) {
                        $('#accountTableBody').html(result); 
                    },
                    error: function () {
                        alert('Đã xảy ra lỗi khi tải dữ liệu');
                    }
                });
            });
        });
    </script>
    <script>
        $('.modal-delete').click(function () {
            var accountId = $(this).data("accountid");

            $('#modal').modal('show');
            $('#confirm').off('click').on('click', function () {
                $('#modal').modal('hide');
                $.ajax({
                    type: "POST",
                    url: "/admin/accounts/delete",
                    data: {
                        accountId: accountId
                    },
                    success: function (result) {
                        if (result.success) {
                            window.location.reload();
                        } else {
                        }
                    },
                    error: function (xhr, status, error) {
                    }
                });
            });
        });



    </script>
}
